body.cancel{
    background: #ff9b30;
    text-align: center;
}
.cancel-read{
    width: 92%;
    margin: 4% auto 0 auto;
    background: #ff7f0c;
    border-radius: 10px;
    color: #fff;
    padding-bottom: 80px;
}
.cancel-read h3{
    width: 90%;
    padding-top: 15%;
    margin: 0 auto;
    font-size: 2.1rem;
    font-weight: normal;
    text-align: center;
}
.minWidth .cancel-read h3{
    padding-top: 12%;
    font-size: 1.7rem;
}
.cancel-read h3 span{
    display: inline-block;
    vertical-align: middle;
}
.cancel-read h3 span.qunname{
    max-width: 84%;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.cancel-read p{
    width: 90%;
    padding-bottom: 5%;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
}
.minWidth .cancel-read p{
    padding-bottom: 5%;
    font-size: 1.4rem;
}
.encourage{
    width: 90%;
    margin: 0 auto;
    background: url(___cdn/img/cancel/encourage.png?___md5) no-repeat 50% 0%;
    background-size: cover;
    margin-bottom: 15%;
}
.minWidth .encourage{
    margin-bottom: 10%;
}
.callqun{
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 80%;
    height: 50px;
    font-size: 1.8rem;
    text-align: center;
    border: none;
    background: #fcff1b;
    color: #9a5000;
    margin-bottom: 15%;
    border-radius: 5px;
}
.minWidth .callqun{
    margin-bottom: 11%;
    font-size: 1.7rem;
    height: 44px;
}
.maxWidth .callqun{
    font-size:2.1rem;
    height: 58px;
}
.callqun.active{
    background: #FFDB8E;
}
.cancel-con1{
    width: 100%;
    margin: 0 auto;
    margin-top: -110px;
    background: url(___cdnImg/img/cancel/con1.png?___md5) no-repeat 50% 0%;
    background-size: cover;
}
.cancel-con1-ios{
    width: 100%;
    margin: 0 auto;
    margin-top: -110px;
    background: url(___cdnImg/img/cancel/con1-ios.png?___md5) no-repeat 50% 0%;
    background-size: cover;
}
.cancel-con2{
    width: 100%;
    margin: 0 auto;
    background: url(___cdnImg/img/cancel/con2.png?___md5) no-repeat 50% 0%;
    background-size: cover;
}
.cancel-con3{
    width: 100%;
    margin: 0 auto;
    background: url(___cdnImg/img/cancel/con3.png?___md5) no-repeat 50% 0%;
    background-size: cover;
}

.ornament{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: url(___cdnImg/img/cancel/ornament.png?___md5) no-repeat 50% 0%;
    background-size: contain;
}
.minWidth .ornament{
    background-size: 87%;
}